

nav ul a{
  color:#444;
}
nav .brand-logo img{
  color: #444;
  height: 10%;
  width: 10%;
  max-height: 64px;
  max-width: 64px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.socials img{
  height: 64px;
  width: 64px;
  display: inline;
}



.socials{
  display: inline;
  margin: .25em;
  padding-right: : 0.3em;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
